.home-page {
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  h1{
    text-align: center;
  }
  
  .card {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h3 {
    font-size: 1.2em;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
  }
  /* HomePage.css */

/* Applique un fond d'image uniquement à la page d'accueil */